.groupe-filtre {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    font-family: 'Lato';
    font-weight: bolder;
    font-size: 18px;
    margin-left: 20px;
}

.btn-groupe {
    width: 100%;
}
#btnAppareil, #btnUstensile, #btnIngredient {
    width: 90%;
}
.ingredient, .ingredient:hover, .ingredient:active, .ingredient:focus, .ingredient:not(:disabled):not(.disabled):active{
    border-color: $couleur-filtre-bleu;
    background-color: $couleur-filtre-bleu;
    color: white;
    filter: brightness(100%);
    &:hover, &:active, &:focus, &:not(:disabled):not(.disabled):active, &:focus-visible{
        filter: contrast(90%);
        outline: none;
    }
}
.appareil, .appareil:hover, .appareil:active, .appareil:focus, .appareil:not(:disabled):not(.disabled):active{
    border-color: $couleur-filtre-vert;
    background-color: $couleur-filtre-vert;
    color: white;
    filter: brightness(100%);
    &:hover, &:active, &:focus, &:not(:disabled):not(.disabled):active, &:focus-visible{
        filter: contrast(90%);
        outline: none;
    }
}
.ustensile, .ustensile:hover, .ustensile:active, .ustensile:focus, .ustensile:not(:disabled):not(.disabled):active{
    border-color: $couleur-filtre-rouge;
    background-color: $couleur-filtre-rouge;
    color: white;
    filter: brightness(100%);
    &:hover, &:active, &:focus, &:not(:disabled):not(.disabled):active, &:focus-visible{
        filter: contrast(90%);
        outline: none;
    }
}
.input {
    margin: 0;
    &::placeholder {
        color: white;
    }
}

.filtre-btn {
    display: flex;
    flex-direction: column;
    height: 30px;
    margin-right: 20px;
}

.list-group-item:first-child, .btn, .list-group-item:last-child{
    border-radius: 0;
}
.sansMarge {
    margin: 0;
}
.btn:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
.btn:focus-visible {
    outline: none;
}
.btn-tags{
    min-width: 200px;
}