#les-recettes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 96%;
    margin: 0% 2%;
    justify-content: space-between;
}
.recette{
    font-family: 'Lato';
    margin: 20px 20px 20px 0px;
    width: 30%;
    border-radius: 5px;
    &--photo{
        background-color: $couleur-fond-recette-photo;
        height: 178px;
        border-radius: 5px 5px 0px 0px;
    }
    &--detail{
        background-color: $couleur-fond-recette-detail;
        display: flex;
        flex-direction: column;
        border-radius: 0px 0px 5px 5px;
        height: 300px;
        padding: 10px 10px 0px 10px;
        
        &--ingredient{
            margin: 0;
        }
        .recette-nom-temps{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &--temps{
                font-weight: bolder;
            }
        }
        .recette-ingredient-quantite-unite-description{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            height: 83%;
            .recette-ingredient-quantite-unite{
                display: flex;
                flex-direction: column;
                width: 50%;
            }
            .recette-description {
                font-family: 'Roboto';
                margin: 0;
                margin-left: 20px;
                width: 50%;
                height: 100%;
                display: -webkit-box;
                -webkit-line-clamp: 10;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}