#ensembleTag {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: none;
  width: auto;
}
.fa-times-circle {
  color: white;
}