input {
    margin-top: 20px;
    padding: 10px 0px;
    width: 100%;
    height: 40px;
    background-color: $couleur-fond;
    border: none;
    position: relative;
    border-radius: 5px;
}
.fa-search {
    position: absolute;
    right: 20px;
    top: 124px;
}