$couleur-primaire : rgba(208, 79, 79, 1);
$couleur-fond : rgba(231, 231, 231, 1);
$couleur-filtre-bleu: rgba(50, 130, 247, 1);
$couleur-filtre-vert: rgba(104, 217, 164, 1);
$couleur-filtre-rouge: rgba(237, 100, 84, 1);
$couleur-fond-recette-photo : rgba(199, 190, 190, 1);
$couleur-fond-recette-detail : rgba(231, 231, 231, 1);